<!-- 模态框（Modal） -->
<div class="modal fade" id="addcategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加文章分类
                </h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="categoryname">分类名称</label>
                        <input type="text" class="form-control" id="categoryname" placeholder="新增分类名称">
                    </div>
                    <div class="form-group">
                        <label for="categorypath">路径</label>
                        <input type="text" class="form-control" id="categorypath" placeholder="路径">
                    </div>
                    <div class="form-group">
                        <label for="categorysort">优先级</label>
                        <input type="text" class="form-control" id="categorysort" placeholder="1-100/值越大越靠前">
                    </div>
                    <p>是否显示在导航</p>
                    <label class="radio-inline ifshow">
                        <input type="radio" name="ifshow" value="1" checked> 是
                    </label>
                    <label class="radio-inline ifshow">
                        <input type="radio" name="ifshow" value="0"> 否
                    </label>
                    <p>是否作为系统分栏</p>
                    <label class="radio-inline ifnavmain">
                        <input type="radio" name="ifnavmain" value="1"> 是
                    </label>
                    <label class="radio-inline ifnavmain">
                        <input type="radio" name="ifnavmain" value="0" checked> 否
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="addcategory();">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->