<div class="copyright clearfix" id="footer">
    <div class="container" id="footerMaincontent">
        <div class="row">
            <div class="col-md-4">
                <p>联系：</p>
                <p>QQ聊天：
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=970710429&site=qq&menu=yes">
                        <button class="btn btn-xs btn-danger">立即聊天</button>
                    </a>
                </p>
                <p>站长邮箱：liyuanyuanazv@sina.com</p>
            </div>
            <div class="col-md-4">
              li
            </div>
            <div class="col-md-4">
                <p>分享：</p>
                <% include ./share.ejs %>
            </div>
        </div>
    </div>
    <div class="text-center footerTxt">
       
    </div>
</div>
<a href="#" id="back-to-top" style="display: none;"><i class="fa fa-angle-up"></i></a>