<div class="copyright clearfix" id="footer">
    <div class="container" id="footerMaincontent">
        <div class="row">
            <div class="col-md-4">
                <p>联系：</p>
                <p>QQ聊天：
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1015225707&site=qq&menu=yes">
                        <button class="btn btn-xs btn-danger">立即聊天</button>
                    </a>
                </p>
                <p>站长邮箱：qumo1727@163.com</p>
            </div>
            <div class="col-md-4">
                <p>友情链接：</p>
                <p><a href="http://www.wanghao.red:81">主站链接</a></p>
                <p><a href="/">王豪·Info</a></p>
            </div>
            <div class="col-md-4">
                <p>分享：</p>
                <% include ./share.ejs %>
            </div>
        </div>
    </div>
    <div class="text-center footerTxt">
        <span>Copyright © 王豪</span>
        | <span><a href="http://www.qumohao.cn">取墨小屋 http://www.qumohao.cn</a></span>
        | <span><a href="http://www.miitbeian.gov.cn/"><i class="c-icon-jgwablogo"></i>豫ICP备18042337号-1</a></span>
    </div>
</div>
<a href="#" id="back-to-top" style="display: none;"><i class="fa fa-angle-up"></i></a>